// styles.module.css
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; // center inside parent
  padding: 0 1rem;
  background-color: rgb(251, 251, 251);
}

.lastPart {
  display: flex;
  justify-content: space-between;
}

.comps {
  display: flex;
  align-items: center;
  gap: 6px;
}

.box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.svg {
  height: 4vh;
  width: 5px;
  background-color: rgb(229,232,238);
  border-radius: 4px;
}

.icon {
  color: rgba(33, 63, 125, 1);
}

.numbers {
  font-size: 12px;
  color: rgba(84, 95, 125, 1);
}

.digit {
  font-size: 12.4px;
}

.buttonTag {
  background-color: rgb(229, 232, 238);
  height: 4.4vh;
  display: flex;
  gap: 7.5px;
}

.showing{
  font-size: 12px;
  color: rgba(84, 95, 125, 1);
}

.figure {
  color: rgba(33, 63, 125, 1);
}

.gridContainer {
  display: grid;
  gap: 17px;
  width: 100%; // instead of 83% or hardcoded
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridCol {
  background-color: white;
  padding: 25px 16px 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  width: 100%;
}


.tableWrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.UserH1 {
  color: rgba(33, 63, 125, 1);
  font-size: 17px;
  margin-top: 29px;
  font-weight: 600;
}

.circleIconOne {
  background-color: rgb(252, 232, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIconTwo {
  background-color: rgb(252, 232, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIconThree {
  background-color: rgb(252, 232, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIconFour {
  background-color: rgb(252, 232, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pTag {
  font-size: 12px;
  font-weight: 600;
  color: rgba(84, 95, 125, 1);
}

.hTag {
  font-size: 14.5px;
  font-weight: 600;
  color: rgba(33, 63, 125, 1);
}

.containerItem {
  width: 100%;
  overflow-x: auto; /* Allow horizontal scroll */

  /* Hide scrollbar for Chrome, Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE/Edge */
  -ms-overflow-style: none;
}

@media (min-width: 768px) {
  .containerItem {
    overflow-x: unset; /* Remove horizontal scroll on larger screens */
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(max-width: 640px) {
  .lastPart {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}