.sidebar {
  width: 50%;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    width: 80%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-left: 0.75rem;
  }

  &__item {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    margin-left: 9px;
  }

  &__text {
    font-size: 0.8125rem;
    margin-top: 0.125rem;
  }

  &__icon {
    width: 0.75rem;
  }

  &__header {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(167, 173, 189);
  }
}